<!DOCTYPE html>
<html>
    <head ng-csp>
        <base href="/" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="author" content="Joe McCormick" />
        <meta name="abstract" content="Cloud reporting for individuals and businesses." />
        <meta name="description" content="Clerkr, a cloud service offering reporting to individuals and businesses, with stats, employee management, client engagement, and more, making you more productive." />
        <meta name="keywords" content="reporting tools, data tracking, employee system, client engagement, small-business software, hobby tracker, interactive graphs, cloud computing, online scheduling, appointments, asynchronous tutoring" />
        <meta name="geo.region" content="USA" />
        <meta name="geo.placename" content="New York, NY" />
        <meta name="geo.position" content="40.7127840; -74.0059410" />
        <meta name="revisit-after" content="1 month" />
        <meta name="google" content="nositelinkssearchbox" />
        <%= csrf_meta_tags %>
        <title>Clerkr - Reporting for individuals and businesses.</title>
        <!-- data, software, tools -->
        <style>
            .newsletter {display: block;padding: 160px  40px;}
        </style>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ng-app="clerkr" ng-cloak>

        <noscript>Please enable javascript and cookies in your browser.</noscript>

        <%= yield %>

        <!-- Signed out view -->
        <div ng-if="!user.signedIn">
            <md-toolbar class="md-site-secondary">
                <newsletter ng-form="newsForm" layout="column" layout-gt-sm="row">
                    <div layout-fill layout="row" layout-align="end end">
                        <md-button class="md-fab md-mini md-site-primary" ng-click="nv.newSubscribe(nv.email, newsForm)" ng-disabled="!nv.email || !newsForm.email.$valid" aria-label="sign up for the newsletter">
                            <md-icon>check</md-icon>
                        </md-button>
                        <md-input-container layout-fill class="md-no-margin-bot md-no-errors">
                            <label>Let's trade: your email for our newsletter.</label>
                            <input type="email" name="email" ng-model="nv.email" ng-pattern="/^.+@.+\..+$/">
                        </md-input-container>
                    </div>
                    <span flex></span>   
                    <div layout="row" layout-align="start end">
                        <md-button scroll-to="#about" bypass="true" aria-label="about clerkr">
                            About
                        </md-button>
                        <span flex></span>
                        <md-button ng-click="authenticate('google')" aria-label="sign in with google">
                            Sign in with Google
                        </md-button>
                    </div>
                </newsletter>
            </md-toolbar>

            <div class="approach">
                <div class="approach-text">
                    <h1 class="cl-green">Clerkr</h1>
                </div>
                <div class="approach-text" layout="column" layout-align="center center" layout-fill>
                    <span flex="35"></span>
                    <div layout="row" class="approach-subtext-container" layout-align="center center" layout-padding>
                        <h3>Record, visualize, and share your data. Easy.</h3>
                    </div>
                </div>
                <%= image_tag 'my-monkey-crop-2.svg' %>
            </div>

            <div id="about" layout="column" layout-gt-sm="row" layout-align="space-around" layout-wrap>
                <div flex="100" class="aim">
                    <h2>We aim to provide...</h2>
                </div>
                <div flex="45" layout-margin layout-padding>
                    <h4 class="md-title">Designed Data</h4>
                    <p class="md-subhead">Clerkr bases its services on the pages of data you create. Fine tune your process and increase productivity and efficiency.</p>
                </div>
                <div flex="45" layout-margin layout-padding>
                    <h4 class="md-title">Group Time</h4>
                    <p class="md-subhead">Got a crew? Let's join forces. Got a business? We can help with that too: scheduling, appointments, client engagement, all integrated with your pages.</p>
                </div>
                <div flex="45" layout-margin layout-padding>
                    <h4 class="md-title">Growth</h4>
                    <p class="md-subhead">All users start with a set amount of reports to create. This number will naturally increase over time, and can be expanded.</p>
                </div>
                <div flex="45" layout-margin layout-padding>
                    <h4 class="md-title">Nerding Out</h4>
                    <p class="md-subhead">Take a break and reflect on our various charts and graphs. Save your visualizations and export the data for use elsewhere.</p>
                </div>
                <div flex="45" layout-margin layout-padding>
                    <h4 class="md-title">Individuals...</h4>
                    <ul>
                        <li>Keep track of hobbies, sports, exercise, research, anything you want.</li>
                        <li>Use your pages for surveys.</li>
                        <li>Create interactive and visually-appealing graphs; print, save, and export your data views.</li>
                    </ul>
                </div>
                <div flex="45" layout-margin layout-padding>
                    <h4 class="md-title">Businesses...</h4>
                    <ul>
                        <li>Schedule employees and keep track of their time online.</li>
                        <li>Use pages on your site and for online or kiosk-based customer submissions.</li>
                        <li>Interact with customers in online appointments.</li>
                        <li>Get combined and individual stats for the members in your group.</li>
                    </ul>
                </div>
            </div>


            <div layout="row" layout-align="center center">
                <h4 id="copyright">&copy; 2016 Clerkr</h4>
            </div>
        </div>
    </body>
    <%= javascript_include_tag 'application', async: Rails.env.production?, cache: true %>
    <%= stylesheet_link_tag 'application', media: 'all', cache: true %>
</html>
